extends ../layout/common

block content
    h1 Create User
    if errors
        each error in errors
            p(class='text-danger')= error
    form(action="/users/create", method="POST")
        .form-group
            label(for="email") Email
            input#email.form-control(type="text", name="email", value=value ? value.email : '')
            label(for="password") Password
            input#password.form-control(type="password", name="password", value=value ? value.password : '')
            label(for="name") User Name
            input#name.form-control(type="text", name="username", value=value ? value.username : '')
            label(for="fullname") Full name
            input#phone.form-control(type="text", name="fullname", value=value ? value.fullname : '')
            label(for="birthday") Birthday
            input#phone.form-control(type="text", name="birthday", value=value ? value.birthday : '')
        button Create