extends ../layout/common

block content
    .d-flex.flex-wrap
        .card(style='width: 18rem;margin-left: 20px;margin-top: 20px')
            img.card-img-top(src=`${user.avatarUrl}` alt='...')
            .card-body
                h5.card-title= user.email
                p.card-text= user.username
                p.card-0.text= user.fullname
                p.card-text= user.birthday
                p.card-text= user.status